.mainpage__picture {
  margin-top: 150px;
  width: 612px;
  height: 562px;
  background-image: url("../../../images/111.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .mainpage__picture {
    width: 560px;
    height: 400px;
    background-size: contain;
  }
}

@media screen and (max-width: 600px) {
  .mainpage__picture {
    width: 100%;
    height: 220px;
    background-size: cover;
    margin-top: 32px;
  }
}