.mainpage__picture {
  margin-top: 40px;
  width: 612px;
  height: 562px;
  background-image: url("../../../images/Cover_animation.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .mainpage__picture {
    width: 560px;
    height: 400px;
    background-size: contain;
  }
}

@media screen and (max-width: 600px) {
  .mainpage__picture {
    width: 100%;
    height: 280px;
    background-image: url("../../../images/Cover_animation_small.gif");
    background-position: center;
    background-size: contain;
    margin-top: 32px;
  }
}