.element__icon_js {
  width: 40px;
  height: 42px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../images/noun-js-file-980442.svg");
}
