.popup__icon_TS {
  width: 32px;
  height: 32px;
  background-image: url("../../../../images/noun-ts-file-5441180.svg");
  background-size: cover;
  align-self: flex-end;
  /* margin-right: 40px; */
}
