.element__icon_ts {
  width: 40px;
  height: 42px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../images/noun-ts-file-5441180.svg");
}
