.popup__icon {
  width: 52px;
  height: 72px;
  background-repeat: no-repeat;
  /* background-image: url("../../../../images/noun-js-file-980442.svg"); */
  background-size: cover;
  align-self: flex-end;
}