.button_close {
  width: 32px;
  height: 32px;
  background-image: url("../../../images/x_button.png");
  background-size: cover;
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}
