.icon-set {
  display: flex;
  gap: 24px;
  align-self: flex-end;
  margin-right: 40px;
  margin-top: 12px;
}

@media screen and (max-width: 500px) {
  .icon-set {
    align-self: flex-start;
    margin-left: 24px;
  }
}