.element__image_de {
  /* border: 2px solid black; */
  width: 525px;
  height: 680px;
  margin-top: 200px;
  object-fit: cover;
  /* visibility: hidden;
  opacity: 0; */
}

@media screen and (max-width: 1024px) {
  .element__image_de {
    width: 460px;
    height: 620px;
  }
}

@media screen and (max-width: 830px) {
  .element__image_de {
    margin-top: 160px;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .element__image_de {
    margin-top: 82px;
    width: 0;
    height: 0;
  }
}