.popup__container {
  width: 90%;
  max-width: 1000px;
  /* max-height: 1200px; */
  display: flex;
  gap: 18px;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 6px;
  z-index: 3;
  /* overflow: scroll; */
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 90%;
  }
}