.popup__container {
  width: 95%;
  max-width: 1080px;
  height: 90%;
  display: flex;
  gap: 18px;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 6px;
  z-index: 3;
}
