.block__skills {
  display: flex;
  flex-direction: column;
  gap: 42px;
  /* margin-left: 82px; */
  width: 90%;
  margin: auto;
  margin-top: 132px;
}

@media screen and (max-width: 900px) {
  .block__skills {
    margin-top: 132px;
  }
}

@media screen and (max-width: 500px) {
  .block__skills {
    margin-top: 400px;
    /* margin-left: 24px; */
  }
}

@media screen and (max-width: 400px) {
  .block__skills {
    margin-top: 400px;
    /* margin-left: 24px; */
  }
}