.block__footer {
  margin-top: 212px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

@media screen and (max-width: 900px) {
  .block__footer {
  margin-bottom: 32px;
  }
}